/****** PLACE YOUR CUSTOM STYLES HERE ******/




/* Splash */

.page-title-2 {
  height: 600px;
}

#resume-link:hover  h3{
  color: black;
}

/* Portfolio Section */

#portfolio-header {
  color: white;
}

.project .image-tile {
  height: 267px;
}

.hover-tile .hover-state {
  z-index: 999
}

.hover-tile:hover .hover-state {
  padding-top: 32px;
}


/* About Me */

#about-me-photo {
  width: 63%;
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 60%
  }

  .col-md-offset-1 {
    margin-left: 3%;
  }

  .col-md-7 {
    width: 40%;
  }

  .col-md-4 {
    width: 49%;
  }

  .col-md-5 {
    width: 41%;
  }
}

#about-me {
  font-size: 24px;
}

#about-me-header {
  font-size: 44px;
}

.col-md-4 p {
  font-size: 20px;
}


/* Footer */

.bold {
  font-weight: 500 !important;
}

.icon {
  padding-right: 45px;
}

.pt48 {
  padding-top: 0px;
}

#footer-links {
  bottom: 70px;
}

i:hover {
  color: black !important;
}

/* Animations */

@keyframes particleAnimation
{
    from {
        left: -1000px;
    }
    to {
        left: calc( 100% + 1000px );
    }
}


.p{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.p-1{
  animation-duration:10s;
  z-index: -1;
}
.p-2{
  animation-duration:5s;
  top:-20%;
  z-index: -1;
}
.p-3{
  animation-duration:15s;
  top:-15%;
  z-index: -1;
}
.p-4{
  animation-duration:12s;
  top:30%;
  z-index: -1;
}
.p-5{
  animation-duration:2s;
  top:40%;
  z-index: -1;
}
.p-6{
  animation-duration:27s;
  top:50%;
  z-index: -1;
}
.p-7{
  animation-duration:16s;
  top:60%;
  z-index: -1;
}
.p-8{
  animation-duration:30s;
  top:70%;
  z-index: -1;
}
.p-9{
  animation-duration:23s;
  top:80%;
  z-index: -1;
}
.p-0{
  animation-duration:17s;
  top:105%;
  z-index: -1;
}
